.details--table > tr>  td{
	color: #fff;
	height: 30px;
	padding: 10px;
	font-size: 20px;
}
.user--details >thead> th{
	border: 2px dotted #fff ;
	color: #fff;
	font-size: 20px;
	height: 40px;
	width: 800px;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.user--details{
	justify-content: center;
}
