.hero-container{
	background:	url('../../../assets/images/img-1.png');
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);


}

.hero-container > h1{
	color: #fff;
	font-size: 500%;
	margin-top : -40px;
}
.hero-container > p{
	margin-top : 8px;
	color : #fff;
	font-size: 300%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.hero-btns{
	margin-top : 32px;

}
.hero-btns .btn{
	margin: 6px;
	color:#fff;
	background-color: #242424;
}
.btn:hover
{
	background-color: #fff;
	color:#242424;
}



@media screen and (max-width: 1370px) {
	.hero-container{
	background : url('../../../assets/images/img-2.png');


	}
}
@media screen and (max-width: 1080px) {
	.hero-container{
		background: url('../../../assets/images/img-3.png');
		background-repeat: no-repeat;

	}
	.hero-container > h1{
		font-size: 400%;
	}
	.hero-container > p{
		font-size: 250%;
	}
}
@media screen and (max-width: 960px){
	.hero-container{
		background: url('../../../assets/images/img-4.png');

	}

	.hero-container > h1{

		font-size: 350%;
	}

	.btn-mobile{
		display: block;
		text-decoration: none;
	}
	.btn{
		width: 100%;
	}
}
@media screen and (max-width: 720px){
	.hero-container{
		background: url('../../../assets/images/img-5.png');

	}
	.hero-container > h1{

		font-size: 270%;
	}
	.hero-container > p{

		font-size: 180%;
	}
}
