:root{
	--primary: #242424;
	--secondary:#fff;
}
.order--container{
	align-items: center;
	background-color: var(--primary);
	border-radius: 10px;
	box-shadow: -1px 0 16px white;
	display: flex;
	flex:1;
	flex-direction: row;
	margin: 10px;
	width: 40%;

}
.order--number{
	margin: 10px;
	text-transform: uppercase;
	font-family:  'Gill Sans MT';
}
.order--details{
	color: var(--secondary);
	margin: 10px;
}
.order--amount{
	margin-top: 10px;
	font-size: 20px;
}
.order--image{
	width: inherit;
	border-radius: inherit;
	height: inherit;
}
@media screen and (max-width: 720px) {
	.order--container{
		width: 300px;
		height: 100px;
		flex-direction: column;
	}
	.order--image{
		height: 200px;
	}

}
@media screen and (max-width: 960px) {
	.order--container{
		width: 350px;
		height: 200px;
		flex-direction: column;
		align-items: stretch;

	}
	.order--image{
		height: 200px;
	}

}
