.orders--container{
	margin: 0;
	overflow-x: auto;

}
.order--table--heading > th{
	text-align: center;
	width: 90px;
	width: 100px;
	padding: 5px;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 18px;

}
.order--table--row > td{
	color: #fff;
	text-align: center;
	padding: 5px;

}
.cancel--btn{
	padding: 0;
	height: 40px;
	width: 80px;
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #fff;
	transition: all 0.3s ease-out;
}
.cancel--btn:hover{
	background-color: #fff;
	color: #242424;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	z-index: 2;
 }

 .modal_content {
	background-color: white;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	padding: 20px;
	border-radius: 5px;
	border: 2px solid black;
 }

 .close {
	color: Black;
	float: right;
 }
