.orders--container{
	margin: 0;

}
.order--table--heading > th{
	text-align: center;
	width: 90px;
	width: 100px;
	padding: 5px;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 18px;

}
.order--table--row > td{
	color: #fff;
	text-align: center;
	padding: 5px;

}
.cancel--btn{
	height: 40px;
	width: 80px;
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #fff;
	transition: all 0.3s ease-out;
}
.cancel--btn:hover{
	background-color: #fff;
	color: #242424;
}
