.car--table{
	width: 100%;
}
.table--heading{
	height: 40px;
	color:#fff;
	font-size: 20px;
	border: 1px solid #fff;
	padding: 10px;
}
.table--body > td{
	height: 30px;
	text-align: center;
	color: #fff;
}
.table--body > td >button{
	padding : 0;
	height: 40px;
	width: 80px;
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #fff;
	transition: all 0.3s ease-out;
	margin-top: 3px;
}
.table--body > td >button:hover{
	background-color: #fff;
	color: #242424;
}
.car--details{
	padding-left: 5px;
	margin: 0 0 10px 0;
	width: 200px;
	margin-top: 10px;
	align-items: center;
}
.submit--btn{
	padding: 0;
	height: 30px;
	width: 100px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: #242424;
}
@media screen and (max-width: 1160px) {
	.car--table{
		width: 100%;
	}
}
