
.table--heading th{
	height: 40px;
	width: 200px;
	color:#fff;
	font-size: 20px;
	border: 1px solid #fff;
	padding: 10px;
}
.table--body td{
	height: 30px;
	text-align: center;
	color: #fff;
}
.car--details{
	padding-left: 5px;
	margin: 0 0 10px 0;
	width: 200px;
}
.submit--btn{
	padding: 0;
	height: 30px;
	width: 100px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: #242424;
}
