.side--nav{
	width: 150px;
	position: sticky;
	margin: 10px 10px 0 0;
}
.container{
	display: flex;
	flex-direction: row;
	background-color: #242424;
}
.menu--button{
	width: 150px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	background-color: #242424;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.menu--button:hover{
	background-color: #fff;
	color: #242424;
}


