.side--nav{
	width: 150px;
	position: sticky;
	margin: 10px 10px 0 5px;
}
.container{
	display: flex;
	flex-direction: row;
	background-color: #242424;

}
.menu--button{
	width: 150px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	background-color: #242424;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.menu--button:hover{
	background-color: #fff;
	color: #242424;
}
@media screen and (max-width:720px) {
	.side--nav .menu--button{
		width: 120px;
	}

}
@media screen and (max-width:560px) {
	.side--nav .menu--button{
		width: 100px;
	}

}


