.side--nav{
	width: 250px;
	justify-content: space-evenly;
	padding: 5px 10px 0 5px;
	margin-right: 15px;
}
.container{
	display: flex;
	background-color: #242424;
}
.selected--menu{
	overflow-x: auto;
}
.menu--button{
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	background-color: #242424;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;

}
.menu--button:hover{
	background-color: #fff;
	color: #242424;
}
@media screen and (max-width:1160px) {
	.container{

	flex-direction: column;
	}

	.side--nav {
		width: 100%;
		display: flex;

	}
	.menu--button{
		width: 100%;

	}

}



