.service--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service--items--container {
  width: 500px;
  margin: 20px;

  border-radius: 10px;
  border: 2px solid #242424;
  padding-top: 10px;
}
.custom--margin {
  margin-left: 20px;
}
.car--section > select {
  width: 300px;
}

input {
  margin: 10px;
  height: 30px;
  font-size: 15px;
  color: #242424;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #242424;
}
select {
  margin: 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  color: #242424;
  border-radius: 5px;
  border: 1px solid #242424;

}
.service--btn{
  padding: 5px 20px 5px 20px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #242424;
  cursor: pointer;
  transition: all .2s ease-out;
  margin: 15px;
}
button:hover{
  background-color: #242424;
  color: #fff;

}

.warning {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: BlinkMacSystemFont, 'Segoe UI';
}

@media screen and (max-width: 720px) {
  .service--items--container {
    width: 400px;
  }
}
